In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_geo=pd.read_csv('geo_sample_table.csv',low_memory=False)
df_geo.head()

,Accession,Title,Sample Type,Taxonomy,Channels,Platform,Series,Supplementary Types,Supplementary Links,SRA Accession,Contact,Release Date
0,GSM1,Foreskin Fibroblasts,SAGE,Homo sapiens,1,GPL4,GSE506,NaN,NaN,NaN,Marc Kenzelmann,"Sep 28, 2000"
1,GSM2,HCMV-infected foreskin fibroblasts,SAGE,Homo sapiens,1,GPL4,GSE506,NaN,NaN,NaN,Marc Kenzelmann,"Sep 28, 2000"
2,GSM3,testis a,RNA,Drosophila melanogaster,1,GPL5,GSE462,NaN,NaN,NaN,Brian Oliver,"Oct 18, 2000"
3,GSM4,testis b,RNA,Drosophila melanogaster,1,GPL5,GSE462,NaN,NaN,NaN,Brian Oliver,"Oct 18, 2000"
4,GSM5,male a,RNA,Drosophila melanogaster,1,GPL5,GSE462,NaN,NaN,NaN,Brian Oliver,"Oct 18, 2000"

In [3]:
#df_ = pd.DataFrame({'Order Date': ["02-25-2013"]})
#df["Order Date"] = pd.to_datetime(df["Order Date"])
#df["Order_Mt"] = df["Order Date"].dt.month
#df["Order_yr"] = df["Order Date"].dt.year
#print(df)

In [13]:
#convert date format and year column
df_geo['Release Date'] = pd.to_datetime(df_geo['Release Date'])
df_geo['year'] = df_geo['Release Date'].dt.year

In [14]:
#new samples by year
df_geo_dates = df_geo.groupby('year').year.count()
print(df_geo_dates)

year
2000        10
2001       660
2002      1975
2003      7741
2004     17872
2005     35384
2006     45778
2007     77969
2008     84901
2009    111126
2010    126126
2011    163605
2012    178775
2013    202828
2014    252056
2015    265486
2016    348017
2017    393827
2018    501720
2019    423536
Name: year, dtype: int64

In [15]:
cumulative = [0]
dates = []
counter = 0
for index, value in df_geo_dates.items():
    value = int(value) + cumulative[counter]
    cumulative.append(value)
    counter+=1
    dates.append(index)
cumulative = cumulative[1:]

cumulative_geo_samples_with_year = pd.Series(cumulative, index=dates)

print(cumulative_geo_samples_with_years)

NameError: name 'cumulative_geo_samples_with_years' is not defined